

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Lobster&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@300&family=Ruwudu&family=Work+Sans:ital,wght@1,200;1,400;1,500&display=swap');
*{
    font-family: 'Croissant One', serif;
font-family: 'Lobster', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Ruwudu', serif;
font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header{
    background-color:#ffffff ;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
header img{
    width: 60px;
    border-radius: 20px;
}
.logo image{
    width: 60px;
    border-radius: 20px;
}
header .navigation a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    color:rgb(48, 48, 108) ;
    padding-left: 30px;
}
nav:hover a {
    opacity: .7;
}
.navigation a:hover {
    background-color: rgb(48, 48, 108);
    color:#f0f0f0 ;
    margin-left: 30px;
    padding: 0;
    opacity: 1;
}

.basic{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    background: #554f4f;
}

.basic::before{
    background: url(img/pron.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
    position: absolute;
    inset: 0;
    opacity: .6;
}
.basic h3 {
    margin: 30px 30px 0 30px;
    letter-spacing: 1px;
    color: #fff;
    isolation: isolate;
    font-size: 1.5em;
}
.basic span{
    color: rgb(48, 48, 108);
    margin-top: 10px;
}
.space {
    height: 70px;
    width: 100vh;
}

.all-cards{
    
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}
.section1 .title {

    font-size: 3em;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    color:rgb(48, 48, 108) ;
    margin: 30px;
    text-align: center;

}
section .all-cards .card{
    background-color: rgb(48, 48, 108);
    width: 400px;
    height: 200px;
    box-shadow: 0 5px 20 px rgb(23, 13, 4);
    transition:.7s;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 17px;
}
.all-cards .card h2{
    text-align: center;
    margin: 10px;
    color: #fbfbfb;
}
section .all-cards .card:hover{
    transform: scale(1.1);
}
section .all-cards .card a{
    text-decoration: none;
    color: rgb(235, 176, 176);
  
}
section .all-cards .card2{
   
    background-color: rgb(48, 48, 108);
    width: 350px;
    box-shadow: 0 5px 20px rgb(23, 13, 4);
    transition:.7s;
    margin-top: 110px;
    border-radius: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    font-size: 25px;
    padding-right: 20px;
    padding: 20px;
}
.all-cards .card2 span{
    padding-right: 150px;
   
}
.section3 iframe {
    opacity: 0.6;
    margin:10px 40px;
    padding: 20px;
  
}
.Branches h3 {
    display: inline-block;
}

.section2 .b {
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    color:rgb(48, 48, 108) ;
    margin: 30px;
    text-align: center;

}
.section2 .location li{
    list-style: none;
    display: flex;
    padding:10px;
}
.section2 .location li i{
    font-size: 14px;
    padding-right: 22px;

}
.section2 .location li p{
    margin: 0%;
    font-size: 18px;
   
}
.section2 .location span{
    margin: 40px;
    font-size: x-large;
}
.location{
    display: flex;
    justify-content: space-between;
}
.section3{
    display: flex;
    justify-content: center;
}

.twocard
{
    display: flex;
    margin: 5px 100px;
    text-align: center;
    background-color:white;
    width: 100%;
    position: relative;
    height: 180px;
    right: 100px;
    margin-bottom: 10px;
}
.twocard .card1
{
    width: 20%;
    text-align: center;
    transition: 0.7s ease;
    border-radius: 10%;
    position: relative;
    left: 30%;
    top: 30px;
    padding-top: 5px;
    bottom: -150px;
    background-color:aliceblue;
   
}
.card1 img
{
    position: relative;
    top: 10px;
}
.card1 h4
{
position: relative;
top: 30px;
}
.card1 p
{
    position: relative;
    top: 50px;
}
.twocard .card1:hover
{
    box-shadow: -1px -5px 26px 7px rgb(195, 195, 211);
    transform: scale(1,1);
}
.twocard .card2
{
    background-color:aliceblue;
    text-align: center;
    width: 20%;
    transition: 0.7s ease;
    border-radius: 10%;
    margin: 1px 20px;
    position: relative;
    left: 32%;
    top: 30px;
   
}
.twocard .card2:hover
{
    box-shadow: -1px -5px 26px 7px rgb(195, 195, 211);
    transform: scale(1,1);
}
.card2 img
{
    position: relative;
    top: 10px;
}
.card2 h4
{
    position: relative;
    top: 30px;
}
.card2 p
{
    font-size: large;
    position: relative;
    top: 50px;
}
.h4
{
    text-align: center;
    font-size: 3em;
    font-weight: 900;
}
h4
{font-family: 
    font-size 20px;
}
footer
{
    background-color: #f0f0f0;
    display: flex;
    width: 100%;
    text-align: center;
    position: relative;
    height: 32%;
    margin-top: 100px;
}
.photo img
{
    width: 230px;
    height: 230px;
    border-radius: 20px;
    margin-left: 20px;
    padding-top: 5px;
}
.info
{
    width: 200px;
    height: auto;
    margin-left: 18%;
}
.info span
{
    color: rgb(48, 48, 108);
    position: relative;
    right: 105%;
    top: 24px;
    font-size: 23px;

}
.info p
{
    position: relative;
    top: 40px;
    right: 170px;
    color: rgb(48, 48, 108);
    opacity: .8;
}
.info p:hover
{
    cursor: pointer;
    opacity: 1;
    text-decoration: underline;
}
.info .number
{
    position: relative;
    right: 235px;
    top: 50px;
}
.info .email
{
    position: relative;
    right: 190px;
    top: 60px;
}
.services
{
    margin-right: 25%;
}
.services h4
{
    color: rgb(48, 48, 108);
    font-size: 29px;
    position: relative;
    top: 15px;
}
.services a
{
    text-decoration: none;
    font-size: 18px;
    color:rgb(48, 48, 108);
    opacity: .8;
    position: relative;
    top: 30px;
}
.services .link2
{
    position: relative;
    top: 45px;
}
.services .repair
{
    position: relative;
    font-size: 17px;
    color:rgb(48, 48, 108);
    opacity: .8;
    top: 60px;
    left: 4px;
}
.services a:hover
{
    cursor: pointer;
    opacity: 1;
    text-decoration: underline;
}
.services p:hover
{
    cursor: pointer;
    opacity: 1;
    text-decoration: underline;
}
.copy
{
     width: 100px;
}
.copy b
{
    color: rgb(48, 48, 108);
    position: relative;
    right: 150px;
    left: 100px;
    top: 90px;
    font-size: 18px;
}
.copy ul
{
    position: relative;
    top: 100px;
    left: 100px;
    list-style: none;
    display: flex;
}
ul li
{
    margin-left: 10px;
}
li img
{
    width: 25px;
    height: 25px;
}
.basic2 {
    display: flex;
    justify-content: space-evenly;
}
.icons{
    margin: 40px;
}
.icons img{
    width: 30px;
}
.icons2{
    margin-top: 40px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;

}

.icons2 img{
    width: 30px;
}
.basic2 .icons .des p {
    margin-bottom: 15px;
}
.basic2 .sd  p {
    margin-bottom: 15px;
}
.icons2 .des2 p {
    margin-bottom: 25px;
}
.basic2 p{
    font-size: 1.3em;
     font-weight: 400;
     font-family: 'Poppins', sans-serif;
}
.section4 .i1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.section4 .i1 .esim{
    margin-bottom: 20px;
}
.section4 .i1 .usb{
    margin-top: 50px;
    padding: 10px;
}
.section4 .i2{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.section4 .i2 .cl{
    padding: 10px;
}
.section4 a{
    text-decoration: none;
}
.prosandcons{
    display: flex;
    justify-content: space-between;

}
.prosandcons .image img{
    margin-left: 10px;
    width: 400px;
    height: 600px;
   
}
.prosandcons .ps b{
    font-size: 25px;
    font-weight: 200px;
    color:  rgb(48, 48, 108);
    

}
.prosandcons .ps b:hover{
   background-color: rgb(48, 48, 108);
    color: white;
    transition: .7s;
    border-radius: 20px;
    padding: 8px;
    cursor:pointer;
   


}
.prosandcons .ps .li{
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: rgb(48, 48, 108);
    color: white;
    border-radius: 20px;
    
   
}
.prosandcons .ps li{
    font-size: 20px;
    
}
.prosandcons .ps li:hover{
    color: rgb(199, 176, 130);
    cursor:pointer;
    transition: .7s;
    transform: scale(1.03);
}
